{% include 'customer/header.twig' %}

<style>
	table,
	tr,
	td {
		border: 1px solid black;
		border-collapse: collapse;
	}

	tr,
	td {
		padding: 5px;
	}
</style>
<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Brand</th>
			<th>Category</th>
			<th>Year</th>
			<th>Price</th>
		</tr>
	</thead>
	<tbody>
		{% for product in products %}
		<tr>
			<td>{{ product.id }}</td>
			<td>{{ product.name }}</td>
			<td>{{ product.brand }}</td>
			<td>{{ product.category }}</td>
			<td>{{ product.year }}</td>
			<td>{{ product.price }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<!-- Pagination -->
<div class="pagination">
	{% for page in 1..totalPages %}
	<a href="?page={{ page }}" style="padding: 10px">{{ page }}</a>
	{% endfor %}
</div>

{% include 'customer/footer.twig' %}
