<table style="border-collapse: collapse">
	<tr>
		<td style="border: 1px solid black">Name</td>
		<td style="border: 1px solid black">{{ products[0].name }}</td>
	</tr>
	<tr>
		<td style="border: 1px solid black">Brand</td>
		<td style="border: 1px solid black">{{ products[0].brand }}</td>
	</tr>
	<tr>
		<td style="border: 1px solid black">Category</td>
		<td style="border: 1px solid black">{{ products[0].category }}</td>
	</tr>
	<tr>
		<td style="border: 1px solid black">Year</td>
		<td style="border: 1px solid black">{{ products[0].year }}</td>
	</tr>
	<tr>
		<td style="border: 1px solid black">Price</td>
		<td style="border: 1px solid black">{{ products[0].price }}</td>
	</tr>
	<tr>
		<td style="border: 1px solid black">Quantity</td>
		<td style="border: 1px solid black">{{ products[0].stock[0].quantity }}</td>
	</tr>
</table>
